@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('src/assets/fonts/Geologica/Geologica-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('src/assets/fonts/Geologica/GeologicaCursive-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('src/assets/fonts/Geologica/GeologicaRoman-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

